* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { font-size: 62.5% }
body {
  box-sizing: border-box;
  font-size: 1.8rem;
}

.column {
  min-width: 22rem;
  background-color: #fcfcfc;
  border-radius: .5rem;
  padding: 1rem;
  margin-right: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-handle {
  width: 80%;
  height: .5rem;
  border-radius: .5rem;
  background-color: #e8e8e8;
  margin-bottom: 2rem;
}

.column-adder {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.btn-add {
  border: none;
  border-radius: 5px;
  background-color: #e8e8e8;
  padding: 1rem;
  transition: .2s;
}

.btn-add:hover {
  background-color: #d9d9d9;
}

.item {
  width: 20rem;
  min-height: 8rem;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: .8rem;
  background-color: #e8e8e8;
}

.workspace {
  width: 100%;
  min-height: 100vh;
  padding: 4rem;
  background-color: #5FEB89;

  display: flex;
}

.btn {
  position: absolute;
  bottom: 4rem;
  right: 4rem;

  padding: 1rem;
  border-radius: .5rem;
  border: none;
  color: #fff;
  background-color: #fc7703;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:hover {
  background-color: #db6904;
}